*{
    padding: 0%;
    margin: 0%;
}
 html{
     font-size: 16px;
 }


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(208.72deg, #001AFF -43.44%, rgba(0, 26, 255, 0) 125.16%);
    padding: 2px;
}


.logo{
    height: 90%;
    position: absolute;
    top:2.5px;
    left: 5vw;
}


.searchBar{
    /* background-color: red; */
    position: relative;
    width: 70%;
    height: 90%;
    border-radius: 50px;
}


.searchfield{
    height: 90%;
    width: 100%;
    border-radius: 50px ;
    padding-left: 3%;
    font-size: 2rem;
    
}
.icon{
    position: absolute; 
    top: 0;
    right: 10px;
    height: 100%;
}


.cartBtn{
    margin: 0 5%;
    height: 50px;
    width: 50px;
    text-align: center;
    /* padding-top: 5px; */
    background-color: red;
    border-radius: 100%;
}


.fillter{
    position: absolute;
    right: 10vh;
    top: 01%;
}


.productContainer{
    /* background-color: black; */
    position: relative;
    width: 79vw;
    /* height: 70vh; */
    /* overflow: scroll; */
    margin-top: 6vh;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
    justify-content: space-around;
}


.test{
    margin: 1%;
    width: 300px;
    height: 300px;
    background-color: red;
}